.calc{
    padding: $size-32;
    &-input{
        padding: $size-24;
        border: turn(1) solid $color-eee;
        font-size: $size-32;
        margin-bottom: $size-24;
        border-radius: turn(16);
        color: $color-666;
        &.sel{
            @include space();
            border: none;
            padding: 0;
            .left,
            .right{
                width: 48%;
                padding: $size-24;
                box-sizing: border-box;
                border-radius: turn(16);
                border: turn(1) solid $color-eee;
            }
        }
        &.btn{
            border: none;
            button{
                font-weight: normal;
            }
        }
    }
}